.tasks {
    padding: 10px 30px;
}

.tasks__tasks {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 10px 10px;
    max-width: 100%;
    grid-template-areas:
        "bt tx re";
    align-items: center;
    border-bottom: 1px solid #dbc7c7;
}

.tasks__tasks--lineThrough {
    text-decoration: line-through;
}

.tasks__removeButton {
    height: 30px;
    width: 30px;
    border: none;
    background-color: hsl(0, 94%, 38%);
    color: white;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-size: x-large;
    transition: 2s;
}

.tasks__removeButton:hover {
    background-color: hsl(0, 92%, 47%);
}

.tasks__removeButton:active {
    background-color: hsl(0, 100%, 50%);
}

.tasks__doneButton {
    height: 30px;
    width: 30px;
    border: none;
    background-color: rgb(24, 128, 5);
    color: white;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    font-size: x-large;
    transition: 2s;
}

.tasks__doneButton:hover {
    background-color: hsl(111, 92%, 36%);
}

.tasks__buttonAdditional {
    display: flex;
    flex-wrap: wrap;
}

.tasks__item--hide {
    display: none;
}

@media (max-width: 767px) {
    .tasks__buttonAdditional {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tasks__header {
        grid-template-columns: 1fr;
    }

    .tasks__main {
        padding: 10px 0px;
    }
}