.button {
    padding: 0 10px;
}

.button__buttons {
    border: none;
    background: transparent;
    font-size: large;
    cursor: pointer;
    transition: 0.5s;
    color: hwb(0 17% 50%);
}

.button__buttons:hover {
    color: hwb(0 17% 30%);
}

@media (max-width: 767px) {
    .button {
        display: grid;
        grid-template-columns: 1fr;
    }

    .button__buttons {
        padding-top: 20px;
    }
}